* {
    margin: 0
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Mono', monospace;
    background: #000000;
    color: #ffffff;
}

#body1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
}
h2 {
    font-size: 20px;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#io {
    margin: 1em 0 0 0;
}

#tag {
    display: flex;
    justify-content: center;
    padding: 2em;
    font-style: italic;
}

#tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tagline h2 {
    margin:0;
    padding:5px;
}

#main-social-container {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

li {
    list-style: none;
}

#intro{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mission {
    display: flex-column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    font-size: 24px;
}